# Composer files
composer.phar
#vendor/

# Local configs
config/autoload/*.local.php

#avatars
public/img/avatars/users/*
public/img/avatars/groups/*

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

.DS_Store


