# Composer files
composer.phar
vendor/

*.DS_Store

# Local configs
config/autoload/*.local.php

#avatars
public/img/avatars/*

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/


