.fc-event.event-absent {
    background-color: #e6eaff;
}

.text-present {
    color: #d5e5a3;
}
.btn-present {
    background-color:#d5e5a3;
    color:#FFF;
}
    .btn-present:hover {
        color: #FFF;
    }
    .btn-outline.btn-present {
        border-color:#d5e5a3;
        background-color: transparent;
        color:#d5e5a3;
    }
    .btn-outline.btn-present:hover {
        background-color: #d5e5a3;
        color:#FFF;
    }

.text-absent {
    color: rgba(255, 143, 94, 0.9);
}
.btn-absent {
    background-color: rgba(255, 143, 94, 0.9);
    color:#FFF;
}
    .btn-absent:hover {
        color: #FFF;
    }
    .btn-outline.btn-absent {
        border-color:rgba(255, 143, 94, 0.9);
        background-color: transparent;
        color:rgba(255, 143, 94, 0.9);
    }
    .btn-outline.btn-absent:hover {
        background-color: rgba(255, 143, 94, 0.9);
        color:#FFF;
    }

.text-uncertain {
    color: rgba(184, 216, 216, 1);
}
.btn-uncertain {
    background-color:rgba(184, 216, 216, 1);
    color:#FFF;
}
    .btn-uncertain:hover {
        color: #FFF;
    }
    .btn-outline.btn-uncertain {
        border-color:rgba(184, 216, 216, 1);
        background-color: transparent;
        color:rgba(184, 216, 216, 1);
    }
    .btn-outline.btn-uncertain:hover {
        background-color: rgba(184, 216, 216, 1);
        color:#FFF;
    }

.text-no-answer {
    color: rgba(214, 193, 171, 0.8);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #fff;
}

.flow-y {
    overflow-y: scroll;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.avatar-checked img {
  border:2px solid #f00;
}

.court-inside {
    background-color: #f8a081;
}

.court-inside.selected {
    background-color:#eac3b5;
}

.court-inside.inactive {
    background: repeating-linear-gradient(
      45deg,
      #f8a081,
      #f8a081 10px,
      #bf9485 10px,
      #bf9485 20px
    );
    cursor:no-drop;
}

.court-inside.active:hover {
  opacity: 0.7;
  cursor: pointer;
}

.attack.active.selected {
  background-color: #11c26d;
}

.target.active.selected {
  background-color: #11c26d;
}

.court-outside {
    background-color: #00bad5;
}

.court-inside,
.court-outside {
  color:#FFF;
}

.court-outside.selected {
    background-color:#ff5e5e;
}

.court-outside.inactive {
    background: repeating-linear-gradient(
      45deg,
      #00bad5,
      #00bad5 10px,
      #CCC 10px,
      #CCC 20px
    );
    cursor:no-drop;
}

.court-net {
    background-color: #999;
}

.court-net.selected {
    background-color:#ff5e5e;
}

.court-net.inactive {
    background: repeating-linear-gradient(
      45deg,
      #999,
      #999 10px,
      #CCC 10px,
      #CCC 20px
    );
    cursor:no-drop;
}

.selected-error {
  background-color:#ff5e5e;
}

.court-border-top {
    border-top:solid 6px #FFF !important;
}

.court-border-left {
    border-left:solid 6px #FFF;
}

.court-border-right {
    border-right:solid 6px #FFF;
}

.court-border-bottom {
    border-bottom:solid 6px #FFF;
}

.site-menu-icon.menu-img {
  min-width: 25px;
}
